body{
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url(img/Background.jpg);
    background-color:#ffffff;
    background-size: cover;
    background-position: center bottom; 
    background-repeat: no-repeat;
}

.container{
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title{
    color: #000000;
    margin: 0  0 5px;
}

.page-subtitle{
    color: #000000;
    margin-top: 5px;
}

.page-logo{
    width: 200px;
}

.github-logo{
    width: 80px;
    position: absolute;
    top: 10px;
    right: 10px;
}

input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
}

label{
  color:black;
    
}

#Botao_01 {
    margin-left: 0px;
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
}

#Botao_02 {
    margin-left: 0px;
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
}

#Botao_03 {
    margin-left: 0px;
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
}

#valorConvertido_1 {
    color: #ffffff;
    font-size: 30px;
}

#valorConvertido_2 {
    color: #ffffff;
    font-size: 30px;
}

#valorConvertido_3 {
    color: #ffffff;
    font-size: 30px;
}